// Slider

.slider {
    height: 60px;
    position: relative;
    width: 100%;

    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider::before,
.slider::after{
    position:absolute;
    background-image:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content:'';
    height:100%;width:25%;
    z-index:2;pointer-events:none;
}

.slider::before{
    left:0;
    top:0;
}

.slider::after{
    right:0;
    top:0;
    transform:rotateZ(180deg);
}
    
.slide-track {
    width: calc(150px * 20);
    display: flex;
    animation: scroll 25s linear infinite;
    gap: 80px;

}

.slide {
    height: 60px;
    display: grid;
    place-items: center;
    justify-content: center;
    transition:0.5s;
    cursor:pointer;

    img{
        opacity: 0.5;
        filter: grayscale(100%);
    }

    &-thelem{
        img{
            filter: brightness(0%);
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(calc(-145px * 10));
    }
}

@media (max-width: $breakpoint) {
    .slide-track {
      width: calc(80px * 20);
    }

  
    @keyframes scroll {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(calc(-145px * 10));
      }
    }
  }